* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/* BASE */
/* body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: radial-gradient(circle at top, #2a1a2f, #0f0b14);
  color: #f5e9f2;
  min-height: 100vh;
  overflow: hidden;
} */
:root {
  --lavender: rgb(160, 125, 255);
  --red: #e70b30;
  --bg-dark: #1A1A1A;
  --card-dark: rgba(255, 255, 255, 0.06);
  --text-soft: rgba(255, 255, 255, 0.8);
}

body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background:  var(--bg-dark);
  color: rgb(255, 255, 255);
  min-height: 100vh;
}

/* SCREENS */
.screen {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s ease;
}

.screen.active {
  opacity: 1;
  pointer-events: auto;
}

/* CENTERING */
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  padding: 24px;
  max-width: 600px;   /* important for desktop */
  width: 100%;
}


/* TEXT STYLES */
.soft-text {
  opacity: 0.7;
  margin-bottom: 12px;
}

.hint-text {
  opacity: 0.5;
  margin-top: 12px;
  font-size: 1rem;
}

#countdown {
  font-size: 7.5rem;
  color: var(--lavender);
  margin: 12px 0;
}

.big-text {
  font-size: 2.5rem;
  color: #ff4d6d;
  margin-bottom: 12px;
}

.message-text,
.joy-text {
  opacity: 0.85;
  line-height: 1.6;
}

.closing-text {
  font-size: 1.5rem;
  line-height: 1.7;
  margin-bottom: 20px;
  font-family: cursive;
}

.signature {
  opacity: 0.6;
  font-size: 0.9rem;
  /* font-family: monospace; */
}

button {
  margin-top: 24px;
  padding: 14px 26px;
  border-radius: 999px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  background: var(--red);
  color: white;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

button:hover{
    transform: scale(1.25);
}

button:active {
  transform: scale(1.5);
}

.surprise-card {
  padding: 28px;
  border-radius: 18px;
  background: var(--card-dark);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 35px rgba(255, 59, 92, 0.25);
}

/* Spotify Section */
#spotify-section {
  animation: fadeInUp 1s;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 24px 0;
}

#spotify-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 14px 28px;
  background: #1db954;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(30, 215, 96, 0.2);
  transition: background 0.2s, transform 0.2s;
  
}
#spotify-btn img {
  width: 35px;
  height: 35px;
}
#spotify-btn:hover {
  background: #169c46;
  transform: scale(1.04);
}


/* CONFETTI */
#confetti-canvas {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 10;
}
